.header-container { 
  background-color: #095055;
  height: auto;
  width: 100%;
  display: flex;
  gap: 3rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* Conteneurs internes */
.menu-container,
.logo-container,
.theme-cv-container {
  height: 100%;
}

 /*Si besoin, définir des largeurs (décommenter et ajuster si nécessaire) 
.logo-container {
  width: 25%;
}
  */
.nav {
  width: 50%;
}
 /* 
.theme-cv-container {
  width: 25%;
}


/* Liste des éléments du menu */
.menu-items {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Liens du menu */
.menu-items button {
  border: 0;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.menu-items button:hover {
  color: #00e6e6;
}
.theme-cv-container a {
  display: inline-block;
  background-color: #00e6e6;
  color: #095055;
  padding: 10px 15px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.theme-cv-container a:hover {
  background-color: #008c8c;
  color: white;
}
/* Bouton de basculement du menu */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Styles pour écrans mobiles */
@media (max-width: 768px) {
  /* Navigation mobile */
  .nav {
    position: absolute;
    top: 30px; /* hauteur du header */
    left: 0;
    width: 100%;
    background-color: #095055;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }

  .nav.open {
    z-index: calc(1);
    max-height: 275px; /* ajustez selon le nombre d'éléments */
    transition: max-height 0.3s ease-in;
    margin-top: 5rem;
  }

  /* Menu items en version mobile */
  .menu-items {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    display: none; /* caché par défaut */
    
  }

  .nav.open .menu-items {
    display: flex; /* affiché quand le menu est ouvert */
  }
  
  
  /* Affichage du bouton toggle sur mobile */
  .menu-toggle {
      
    display: block;
    position: absolute;
    
  }
}