.homeTopContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    padding: 2rem;
}

.imageProfilContainer {
    width: 250px;
    height: 300px;
    border-radius: 20% 40% 20% 40%;
    background-color: rgb(120, 120, 206);
    box-shadow: 0px 0px 15px rgb(46, 224, 236);
    transform: rotate(10deg);
}

.homeParagrapheContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.homeParagrapheName {
    padding: 4px;
    color: rgb(177, 237, 255);
    font-size: 40px;
    text-shadow: 4px 4px 10px aqua;
}

.homeParagrapheMetier {
    padding: 4px;
    color: rgb(177, 237, 255);
    font-size: 30px;
    text-shadow: 4px 4px 10px aqua;
    transition: 1s;
}

.reseauxSociauxContainer {
    list-style: none;
    display: flex;
    width: 15rem;
    justify-content: space-around;
    padding: 0;
}

.btnContactContainer {
    width: 15rem;
}

.contactMoi {
    padding: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: aqua;
    font-size: large;
    text-align: center;
    border: none;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .homeTopContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }

    .imageProfilContainer {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 0px 10px cyan;
        transform: rotate(0deg);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imageProfilContainer img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .homeParagrapheContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 1rem;
        text-align: left;
        width: 95%;
        
    }

    .homeParagrapheText {
        width: auto;
        max-width: 100%;
        text-align: left;
    }

    .reseauxSociauxContainer {
        display: flex;
        justify-content: center;
        gap: 10px;
        list-style: none;
        padding: 0;
    }

    .reseauxSociauxitem a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btnContactContainer {
        text-align: center;
        margin-top: 1rem;
    }
}
